
.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/modules.xml

.idea/OnDynamicsForSommersaults.iml

__pycache__/miller_ocp.cpython-39.pyc

custom_dynamics/__pycache__/

*.pyc

*.png

Historique_28-01-22.txt

.idea/vcs.xml

.idea/workspace.xml

ocp_graph.gv

ocp_graph.gv.pdf

*.pkl

jacobian_analysis/jac_analysis.eps

jacobian_analysis/jac_analysis.pdf

jacobian_analysis/jac_analysis.svg
