
.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/modules.xml

.idea/OnDynamicsForSommersaults.iml

__pycache__/miller_ocp.cpython-39.pyc

custom_dynamics/__pycache__/
